parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Call to an undefined method Negotiation\\AcceptHeader\|Negotiation\\BaseAccept::getValue\(\)\.$/'
      path: src/Provider.php
