includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan.neon

parameters:
  level: max
  checkMissingCallableSignature: true
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  ignoreErrors:
    - message: '/^PHPDoc tag @var with type Negotiation\\BaseAccept\|null is not subtype of type Negotiation\\AcceptHeader\|null\.$/'
      path: src/Scope/AbstractScope.php
